#footer{
    background-color: #f8f8f8;
}

main{
    min-height: 83.1vh;
}

.social-icon {
    margin: 20px 10px;
  }

.home{
    background-color: #E9E9E9;
    /* background-image: url("./sample_images/CBum.jpg"); */
    /* background-repeat: no-repeat; */
    /* text-align: center; */
}

/* header */
.logo{
    width: 120px;
    height: 60px;
}

/* footer */
.bookNow{
    width: 100%;
    background-color: #E9E9E9;
    text-align: center;
    font-style: italic;
    color:black;

    font-weight: 600;
}

/* home page */
.profile{

        width: 640px;
        height: 360px;
}

/* Plans Styling */
.planCard{
    text-align: center;
}

/* blog page */
.carousel-item{
    width: 50%;
    
}



